<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Job"
        tools:targetApi="34">
        <activity
            android:name=".Dev.Login"
            android:exported="false" />
        <activity
            android:name=".Dev.Emp"
            android:exported="false" />
        <activity
            android:name=".Dev.forgetpassword"
            android:exported="false" />
        <activity
            android:name=".Dev.InsertJob"
            android:exported="false" />
        <activity
            android:name=".Dev.Menu"
            android:exported="false" />
        <activity
            android:name=".Dev.PageDetaile"
            android:exported="false" />
        <activity
            android:name=".Dev.Profile"
            android:exported="false" />
        <activity
            android:name=".Dev.SignUp"
            android:exported="false" />
        <activity
            android:name=".Dev.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>